body {
  font-family: sans-serif;
  padding: 20px;
}
#map {
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
}
form {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}
